# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment (VERY IMPORTANT)
# =========================
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Environment Variables (CRITICAL)
# =========================
.env

# =========================
# Power BI Temp Files
# =========================
*.pbix.lock

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Junk Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log